<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="MainSuit" annotations="JDK" parallel="tests">

<test name="MainTest">
    <classes>
        <class name="com.kozitski.task2.interpreter.InterpreterTest"/>

        <class name="com.kozitski.task2.service.ExpressionConverterTest"/>
        <class name="com.kozitski.task2.service.TextComponentCreatorTest"/>
        <class name="com.kozitski.task2.service.TextOperationTest"/>

        <class name="com.kozitski.task2.polishnotation.PolishNotationConverterTest"/>
        <class name="com.kozitski.task2.reader.TextReaderTest"/>
    </classes>
</test>

<test name="TimeTest">
    <classes>
        <class name="com.kozitski.task2.time.TimeTest"/>
    </classes>
</test>

</suite>