<component name="ArtifactManager">
  <artifact type="war" name="SpringHelloTutorial:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringHelloTutorial.war">
      <element id="artifact" artifact-name="SpringHelloTutorial:war exploded" />
    </root>
  </artifact>
</component>