<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="MainSuit" annotations="JDK" parallel="tests">

    <test name="MainTest">
        <classes>
            <class name="com.kozitski.xml.factory.FactoryTest"/>
            <class name="com.kozitski.xml.validator.SchemeValidatorTest"/>


        </classes>
    </test>

    <test name="TimeTest">
        <classes>
            <class name="com.kozitski.xml.time.TimeTest"/>
        </classes>
    </test>

</suite>